

body{
    background-color: lightsteelblue;
}

header > h1{
    text-align: center;
    color: white;
    font: bold 20pt arial;
}

#box-idades{
    font: normal 10pt arial;
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

#verificar{
    margin-top: 20px;
}

#box-idades > p{
    font: bold 12pt arial;
}

#images{
    padding-top: 20px;
    
}
#resultado{
    font: normal 10pt arial;
    padding-top: 20px;
}